/*==================================================*/
/*   LIGHT GRAY: #DCDCDC                            */
/*   ORANGE: #E67E22                                */
/*   DARK GRAY: #383838                             */
/*   LIGHT BLUE: #AED6F1                            */
/*==================================================*/

body {
    font: 20px Montserrat, Verdana, sans-serif;
    line-height: 1.5;
    padding-top: 125px;
    padding-bottom: 100px;
    background-color: #383838;
}
p {font-size: 18px; color: #DCDCDC;}
pre {background-color: #EEEEDD;}

ol {list-style-type: decimal;}
ul li{font-size:18px; color: #DCDCDC;}

h2 {font-size: 22px; color: #E67E22;}
h3 {font-size: 28px; color: #DCDCDC;}
hr {height: 5px; border-color: #DCDCDC;}

/* img {margin-top: 25px; width: 30%; height: auto; min-width: 200px;} */
input::placeholder {color: #989898;}

.margin {margin-bottom: 5px;}
.bg-main {background-color: #383838;}
.bg-foot {background-color: #E67E22;}

/*==================================================*/
/*   NAVBAR                                         */
/*==================================================*/
.navbar {
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
    border-radius: 0;
    font-size: 12px;
    letter-spacing: 5px;
    position: fixed;
    width: 100%;
    background-color: #E67E22; /* orange */
    z-index: 1;
}
.navbar-default {border: #383838;}
.navbar-default .navbar-brand {color: #383838;}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {color: #DCDCDC;}
.navbar-default .navbar-nav > li > a {color: #383838;}
.navbar-default .navbar-nav > li > a:hover {color: #DCDCDC;}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {border-color: transparent; box-shadow: none;}
.navbar-default .navbar-toggle {border-color: transparent; background-color: #E67E22;}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:active {background-color: #E67E22;}
.navbar-default .navbar-toggle .icon-bar {background-color: #383838;}
.navbar-default .navbar-toggle:hover .icon-bar {background-color: #DCDCDC;}

/*==================================================*/
/*   FONT AWESOME ICONS STYLES                      */
/*==================================================*/
.fa-circle {color: #DCDCDC;}
.fa-envelope {color: #383838;}
.fa-envelope:hover {color: #E67E22;}
.fa-linkedin {color: #383838;}
.fa-linkedin:hover {color: #E67E22;}
.fa-github {color: #383838;}
.fa-github:hover {color: #E67E22;}
.fa-list-alt {color: #383838;}
.fa-list-alt:hover {color: #E67E22;}

/*==================================================*/
/*   FOOTER                                         */
/*==================================================*/
.footer {
    vertical-align: middle;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #E67E22;
    text-align: center;
}
.footer p {margin: 0 0;}
