{% extends 'base.html' %}

{% block content %}
<div class='container bg-main'>
    <h3 class='margin'><center>Sheila Gaynor</center></h3>
    <hr>
    <div class='row'>
        <div class='col-sm-8'>
            <p>
                I am a postdoctoral research fellow in the Biostatistics department at the Harvard T.H. Chan School of Public Health, working with <a href='https://content.sph.harvard.edu/xlin/' target='_blank'>Xihong Lin</a>. My research focuses on integrative statistical genetic and genomics, network analysis, high performance computing, and computational biology.
                <br><br>
                I completed my PhD, titled "Statistical Methods for Integratively Characterizing Genetic and Genomic Data" in April 2018, under the advisement of John Quackenbush and Xihong Lin. I did my undergraduate education at the University of North Carolina at Chapel Hill in biostatistics and math. 
            </p>
        </div>
        <br>
        <div class='col-sm-4 text-center'>
            <img src='{{url_for('static',filename='images/sheilagaynor.jpg')}}' class='img-responsive img-circle margin' style='display:inline; margin-top: 0; width: 75%; height: auto; min-width: 200px; max-width: 300px;'>
        </div>
    </div>
</div>
<br>
<br>
<div class='container bg-main'>
    <hr>
    <div class='row text-center'>
        <div class='col-sm-3'>
            <ul class='list-inline text-center'>
                <li class='list-inline-item'>
                    <a href='https://github.com/sheilagaynor/Resume/blob/master/Gaynor_Resume.pdf' target='_blank'>
                        <span class='fa-stack fa-lg'>
                            <i class='fa fa-circle fa-stack-2x'></i>
                            <i class='fa fa-list-alt fa-stack-1x'></i>
                        </span>
                    </a>
                </li>
            </ul>
            <p>
                Resume
            </p>
        </div>
        <div class='col-sm-3'>
            <ul class='list-inline text-center'>
                <li class='list-inline-item'>
                    <a href='mailto:
                    sheilagaynor@hsph.harvard.edu'>
                        <span class='fa-stack fa-lg'>
                            <i class='fa fa-circle fa-stack-2x'></i>
                            <i class='fa fa-envelope fa-stack-1x fa-inverse'></i>
                        </span>
                    </a>
                </li>
            </ul>
            <p>
                Email
            </p>
        </div>
        <div class='col-sm-3'>
            <ul class='list-inline text-center'>
                <li class='list-inline-item'>
                    <a href='https://www.linkedin.com/in/sheila-gaynor-a762ba99' target='_blank'>
                        <span class='fa-stack fa-lg'>
                            <i class='fa fa-circle fa-stack-2x'></i>
                            <i class='fa fa-linkedin fa-stack-1x fa-inverse'></i>
                        </span>
                    </a>
                </li>
            </ul>
            <p>
                LinkedIn
            </p>
        </div>
        <div class='col-sm-3'>
            <ul class='list-inline text-center'>
                <li class='list-inline-item'>
                    <a href='https://github.com/sheilagaynor' target='_blank'>
                        <span class='fa-stack fa-lg'>
                            <i class='fa fa-circle fa-stack-2x'></i>
                            <i class='fa fa-github fa-stack-1x fa-inverse'></i>
                        </span>
                    </a>
                </li>
            </ul>
            <p>
                GitHub
            </p>
        </div>
    </div>
</div>
<br>
<div class='container bg-main text-center'>
    <p style='font-size: 12px'>
        <i>
        The contents of this page are hosted on Amazon EC2 with Flask, nginx, and Gunicorn.
        </i>
    </p>
</div>
{% endblock %}
