{% extends 'base.html' %}

{% block content %}
<div class='container bg-main'>
    <h3 class='margin'><center>VITA</center></h3>
    <hr>
    <div class='row'>
        <div class='col-sm-8'>
            <p>
                Please visit my resume link below!
            </p>
        </div>
        <br>
        <div class='col-sm-4 text-center'>
            <img src='{{url_for('static',filename='images/sheilagaynor.jpg')}}' class='img-responsive img-circle margin' style='display:inline; margin-top: 0; width: 75%; height: auto; min-width: 200px; max-width: 300px;'>
        </div>
    </div>
</div>
<br>
<br>
<div class='container bg-main'>
    <hr>
    <div class='row text-center'>
        <div class='col-sm-3'>
            <ul class='list-inline text-center'>
                <li class='list-inline-item'>
                    <a href='https://github.com/padtai/resume/blob/master/tai_resume.pdf' target='_blank'>
                        <span class='fa-stack fa-lg'>
                            <i class='fa fa-circle fa-stack-2x'></i>
                            <i class='fa fa-list-alt fa-stack-1x'></i>
                        </span>
                    </a>
                </li>
            </ul>
            <p>
                Resume
            </p>
        </div>
        <div class='col-sm-3'>
            <ul class='list-inline text-center'>
                <li class='list-inline-item'>
                    <a href='mailto: &#116;&#097;&#105;&#064;&#109;&#097;&#105;&#108;&#046;&#104;&#097;&#114;&#118;&#097;&#114;&#100;&#046;&#101;&#100;&#117;'>
                        <span class='fa-stack fa-lg'>
                            <i class='fa fa-circle fa-stack-2x'></i>
                            <i class='fa fa-envelope fa-stack-1x fa-inverse'></i>
                        </span>
                    </a>
                </li>
            </ul>
            <p>
                Email
            </p>
        </div>
        <div class='col-sm-3'>
            <ul class='list-inline text-center'>
                <li class='list-inline-item'>
                    <a href='https://www.linkedin.com/in/taicai/' target='_blank'>
                        <span class='fa-stack fa-lg'>
                            <i class='fa fa-circle fa-stack-2x'></i>
                            <i class='fa fa-linkedin fa-stack-1x fa-inverse'></i>
                        </span>
                    </a>
                </li>
            </ul>
            <p>
                LinkedIn
            </p>
        </div>
        <div class='col-sm-3'>
            <ul class='list-inline text-center'>
                <li class='list-inline-item'>
                    <a href='https://github.com/padtai' target='_blank'>
                        <span class='fa-stack fa-lg'>
                            <i class='fa fa-circle fa-stack-2x'></i>
                            <i class='fa fa-github fa-stack-1x fa-inverse'></i>
                        </span>
                    </a>
                </li>
            </ul>
            <p>
                GitHub
            </p>
        </div>
    </div>
</div>
<br>
<div class='container bg-main text-center'>
    <p style='font-size: 12px'>
        <i>
        The contents of this page are hosted on Amazon EC2 with Flask, nginx, and Gunicorn. Extra care was taken to establish an HTTPS connection.
        </i>
    </p>
</div>
{% endblock %}
