{% extends 'base.html' %}

{% block header %}
<style>
	#map {height: 90%;}
	#origin-input, #destination-input {
		background-color: #DCDCDC;
		border-color: #E67E22;
		border-width: medium;
		color: #383838;
		font: 14px Montserrat, Verdana, sans-serif;
		/* margin-left: 20px; */
		padding: 0 10px 0 10px;
		text-overflow: ellipsis;
		/* height: 100px; */
		width: 300px;
	}
	#origin-input:focus, #destination-input:focus {border-color: #E67E22; border-width: medium;}
	#floating-panel {margin-top: 10px; margin-left: 20px;}

	html {height: 100%; margin: 0; padding: 0;}

	body {
		height: 100%;
		padding-top: 50px;
		padding-bottom: 100px;
		background-color: #383838;
		color: #DCDCDC;
	}

	.controls {
		margin-top: 10px;
		border: 1px solid transparent;
		border-radius: 2px 0 0 2px;
		box-sizing: border-box;
		height: 35px;
		outline: none;
	}

	.pac-container, .pac-item {width: inherit !important; font: 12px Montserrat, Verdana, sans-serif;}
	.pac-item-query, .pac-item-matched {font: 12px Montserrat, Verdana, sans-serif;}
	.pac-icon {display: none;}
	.pac-container:after{content: none !important;}

	.column {float: left;}
	.left {width: 75%;}
	.right {width: 25%; text-align: right;}

	.container-fluid {padding: 0;}

</style>
{% endblock %}

{% block content %}
<!--==================================================-->
<!--   INPUT FIELDS                                   -->
<!--==================================================-->
<div class='container' style='text-align: center; padding-top: 20px; padding-bottom: 20px;'>
	<div class='row'>
		<div class='col-sm-6'>
			<input id='origin-input' class='controls' type='text' placeholder='Start'>
		</div>
		<div class='col-sm-6'>
			<input id='destination-input' class='controls' type='text' placeholder='End'>
		</div>
	</div>
</div>

<!--==================================================-->
<!--   MAP                                            -->
<!--==================================================-->
<div id='map'></div>

<!--==================================================-->
<!--   TEXT BELOW MAP                                 -->
<!--==================================================-->
<div class='container' style='color: #E67E22; font-size: 12px; text-align: center; padding-top: 5px;'>
	<div class='col-sm-4'>
		Click Map Icons for Info
	</div>
	<div class='col-sm-4'>
		Trip Details Below
	</div>
	<div class='col-sm-4'>
		Data from March 2017
	</div>
</div>

<!--==================================================-->
<!--   TRIP DIRECTIONS                                -->
<!--==================================================-->
<div class='container' style='font-size: 16px; text-align: center; padding: 20px;'>
	<div id='trip-details'></div>
</div>

<div class='container-fluid' style='font-size: 16px; padding-left: 50px; padding-right: 50px'>
	<div class='row'>
		<div class='col-sm-4'>
			<div id='left-panel-start' style='padding: 20px 20px 5px 20px; text-align: center;'></div>
			<div id='left-panel-directions' style='font-size: 12px; padding-left: 30px; padding-right: 30px;'></div>
			<div id='left-panel-end' style='padding: 20px; text-align: center;'></div>
		</div>
		<div class='col-sm-4'>
			<div id='mid-panel-start' style='padding: 20px 20px 5px 20px; text-align: center;'></div>
			<div id='mid-panel-directions' style='font-size: 12px; padding-left: 30px; padding-right: 30px;'></div>
			<div id='mid-panel-end' style='padding: 20px; text-align: center;'></div>
		</div>
		<div class='col-sm-4'>
			<div id='right-panel-start' style='padding: 20px 20px 5px 20px; text-align: center;'></div>
			<div id='right-panel-directions' style='font-size: 12px; padding-left: 30px; padding-right: 30px;'></div>
			<div id='right-panel-end' style='padding: 20px; text-align: center;'></div>
		</div>
	</div>
</div>

<br><br>

<script>
	//==================================================//
	//   GLOBAL VARIABLES                               //
	//==================================================//
	var pointA = null;
	var pointB = null;
	var markers = [];
	var boundsStartWalk = null;
	var boundsEndWalk = null;
	var boundsBike = null;
	var currentWindow = null;

	//==================================================//
	//   INITIALIZING MAP                               //
	//==================================================//
	function initMap() {
		var map = new google.maps.Map(document.getElementById('map'), {
			mapTypeControl: false,
			center: {lat: 42.3601, lng: -71.0589},
			fullscreenControl: false,
			zoom: 12,
			styles: [
				{
					"elementType": "geometry",
					"stylers": [
						{
							"color": "#ebe3cd"
						}
					]
				},
				{
					"elementType": "labels.text.fill",
					"stylers": [
						{
							"color": "#523735"
						}
					]
				},
				{
					"elementType": "labels.text.stroke",
					"stylers": [
						{
							"color": "#f5f1e6"
						}
					]
				},
				{
					"featureType": "administrative",
					"elementType": "geometry.stroke",
					"stylers": [
						{
							"color": "#c9b2a6"
						}
					]
				},
				{
					"featureType": "administrative.land_parcel",
					"elementType": "geometry.stroke",
					"stylers": [
						{
							"color": "#dcd2be"
						}
					]
				},
				{
					"featureType": "administrative.land_parcel",
					"elementType": "labels.text.fill",
					"stylers": [
						{
							"color": "#ae9e90"
						}
					]
				},
				{
					"featureType": "landscape.natural",
					"elementType": "geometry",
					"stylers": [
						{
							"color": "#dfd2ae"
						}
					]
				},
				{
					"featureType": "poi",
					"elementType": "geometry",
					"stylers": [
						{
							"color": "#dfd2ae"
						}
					]
				},
				{
					"featureType": "poi",
					"elementType": "labels.text.fill",
					"stylers": [
						{
							"color": "#93817c"
						}
					]
				},
				{
					"featureType": "poi.park",
					"elementType": "geometry.fill",
					"stylers": [
						{
							"color": "#a5b076"
						}
					]
				},
				{
					"featureType": "poi.park",
					"elementType": "labels.text.fill",
					"stylers": [
						{
							"color": "#447530"
						}
					]
				},
				{
					"featureType": "road",
					"elementType": "geometry",
					"stylers": [
						{
							"color": "#f5f1e6"
						}
					]
				},
				{
					"featureType": "road.arterial",
					"elementType": "geometry",
					"stylers": [
						{
							"color": "#fdfcf8"
						}
					]
				},
				{
					"featureType": "road.highway",
					"elementType": "geometry",
					"stylers": [
						{
							"color": "#f8c967"
						}
					]
				},
				{
					"featureType": "road.highway",
					"elementType": "geometry.stroke",
					"stylers": [
						{
							"color": "#e9bc62"
						}
					]
				},
				{
					"featureType": "road.highway.controlled_access",
					"elementType": "geometry",
					"stylers": [
						{
							"color": "#e98d58"
						}
					]
				},
				{
					"featureType": "road.highway.controlled_access",
					"elementType": "geometry.stroke",
					"stylers": [
						{
							"color": "#db8555"
						}
					]
				},
				{
					"featureType": "road.local",
					"elementType": "labels.text.fill",
					"stylers": [
						{
							"color": "#806b63"
						}
					]
				},
				{
					"featureType": "transit.line",
					"elementType": "geometry",
					"stylers": [
						{
							"color": "#dfd2ae"
						}
					]
				},
				{
					"featureType": "transit.line",
					"elementType": "labels.text.fill",
					"stylers": [
						{
							"color": "#8f7d77"
						}
					]
				},
				{
					"featureType": "transit.line",
					"elementType": "labels.text.stroke",
					"stylers": [
						{
							"color": "#ebe3cd"
						}
					]
				},
				{
					"featureType": "transit.station",
					"elementType": "geometry",
					"stylers": [
						{
							"color": "#dfd2ae"
						}
					]
				},
				{
					"featureType": "water",
					"elementType": "geometry.fill",
					"stylers": [
						{
							"color": "#b9d3c2"
						}
					]
				},
				{
					"featureType": "water",
					"elementType": "labels.text.fill",
					"stylers": [
						{
							"color": "#92998d"
						}
					]
				}
			]
		});
		new AutocompleteDirectionsHandler(map);
	}

	//==================================================//
	//   SETTING UP AUTOCOMPLETE                        //
	//==================================================//
	function AutocompleteDirectionsHandler(map) {
		this.map = map;
		this.originPlaceId = null;
		this.destinationPlaceId = null;

		var originInput = document.getElementById('origin-input');
		var destinationInput = document.getElementById('destination-input');
		var floatingPanel = document.getElementById('floating-panel');

		this.directionsService = new google.maps.DirectionsService;

		var originAutocomplete = new google.maps.places.Autocomplete(originInput, {placeIdOnly: true});
		var destinationAutocomplete = new google.maps.places.Autocomplete(destinationInput, {placeIdOnly: true});

		this.bounds = new google.maps.LatLngBounds();

		//==================================================//
		//   STARTING WALKING DIRECTIONS                    //
		//==================================================//
		this.directionsDisplayStartWalk = new google.maps.DirectionsRenderer({
			map: map,
			preserveViewport: true,
			suppressMarkers: true,
			polylineOptions: {strokeColor: '#21618C', strokeWeight: 5}
		});
		this.directionsDisplayStartWalk.setMap(map);

		//==================================================//
		//   BIKING DIRECTIONS                              //
		//==================================================//
		this.directionsDisplayBike = new google.maps.DirectionsRenderer({
			map: map,
			preserveViewport: true,
			suppressMarkers: true,
			suppressBicyclingLayer: true,
			polylineOptions: {strokeColor: '#0E6655', strokeWeight: 5}
		});
		this.directionsDisplayBike.setMap(map);

		//==================================================//
		//   ENDING WALKING DIRECTIONS                      //
		//==================================================//
		this.directionsDisplayEndWalk = new google.maps.DirectionsRenderer({
			map: map,
			preserveViewport: true,
			suppressMarkers: true,
			polylineOptions: {strokeColor: '#21618C', strokeWeight: 5}
		});
		this.directionsDisplayEndWalk.setMap(map);

		//==================================================//
		//   AUTOCOMPLETE FIELDS                            //
		//==================================================//
		this.setupPlaceChangedListener(originAutocomplete, 'ORIG', map);
		this.setupPlaceChangedListener(destinationAutocomplete, 'DEST', map);
		floatingPanel.style.display = 'block';
		// this.map.controls[google.maps.ControlPosition.TOP_LEFT].push(floatingPanel);
	}

	//==================================================//
	//   INPUT FIELD LISTENER                           //
	//==================================================//
	AutocompleteDirectionsHandler.prototype.setupPlaceChangedListener = function(autocomplete, mode, map) {
		var me = this;
		autocomplete.bindTo('bounds', this.map);

		//==================================================//
		//   COLLECT USER INPUT                             //
		//==================================================//
		autocomplete.addListener('place_changed', function() {
			var place = autocomplete.getPlace();
			if (!place.place_id) {
				window.alert('Please select an option from the dropdown list.');
				return;
			}
			if (mode === 'ORIG') {
				me.originPlaceId = place.place_id;
				pointA = place.name;
			} else if (mode === 'DEST') {
				me.destinationPlaceId = place.place_id;
				pointB = place.name;
			}

			//==================================================//
			//   SEND INFORMATION TO PYTHON                     //
			//==================================================//
			// truthy check if pointA and pointB are defined
			if (pointA && pointB) {
				$.getJSON('/__background-process', {pointA: pointA, pointB: pointB}, function(data) {
					me.route(data, map);
				});
			}
		});
	};

	//==================================================//
	//   HANDLING MARKERS ON THE MAP                    //
	//==================================================//
	function setMarker(map, markerLat, markerLng, icon, locationString, infoString) {
		var infoWindow = new google.maps.InfoWindow({
			content: '<strong><p style="font-size: 16px; color: #383838; padding: 0; margin: 0;">' + locationString + '</p></strong>' + '<p style="font-size: 12px; color: #383838; padding: 0; margin: 0;">' + infoString + '</p>'
		});

		var customMarker = new google.maps.Marker({
	        position: new google.maps.LatLng(markerLat, markerLng),
	        map: map,
	        icon: icon
	    });

		customMarker.addListener('click', function() {
			if (currentWindow !== null) {currentWindow.close();}
			infoWindow.open(map, customMarker);
			currentWindow = infoWindow;
		});
	    return(customMarker);
	}

	//==================================================//
	//   STYLING THE DIRECTIONS SERVICE                 //
	//==================================================//
	function styleDirections(imgTop, imgBottom, lblTop, lblBottom, tripLegs, directionsType) {
		var startHTML = '';
		var directionsHTML = '';
		var endHTML = '';

		startHTML += "<img src=" + imgTop + " style='width: 30px; height: 30px; margin: 0px 10px 12px 0px; padding: 0;' align='bottom'>" + lblTop + '<br>';
		startHTML += '<div style="font-size: 12px;"> ' + directionsType + ' Directions (Beta) </div>';

		for (var i = 0; i < tripLegs.steps.length; i++) {
			var curStep = tripLegs.steps[i];
			directionsHTML += '<div class="row">' + '<div class="column left">' + curStep.instructions + '</div>' + '<div class="column right">' + curStep.distance.text + '</div>' + '</div>';
		}

		endHTML += "<img src=" + imgBottom + " style='width: 30px; height: 30px; margin: 0px 10px 12px 0px; padding: 0;' align='bottom'>" + lblBottom + '<br>';

		return {
	   		startHTML: startHTML,
	   		directionsHTML: directionsHTML,
			endHTML: endHTML
   		};
	}

	//==================================================//
	//   CALCULATING MAX BOUNDS FOR TRIP                //
	//==================================================//
	function getMaxBounds(boundsStartWalk, boundsBike, boundsEndWalk) {
		var maxBounds = new google.maps.LatLngBounds();
		var latPad = 0;
		maxBounds.extend(new google.maps.LatLng(boundsStartWalk.getNorthEast().lat() + latPad, boundsStartWalk.getNorthEast().lng()));
		maxBounds.extend(new google.maps.LatLng(boundsStartWalk.getSouthWest().lat(), boundsStartWalk.getSouthWest().lng()));
		maxBounds.extend(new google.maps.LatLng(boundsBike.getNorthEast().lat() + latPad, boundsBike.getNorthEast().lng()));
		maxBounds.extend(new google.maps.LatLng(boundsBike.getSouthWest().lat(), boundsBike.getSouthWest().lng()));
		maxBounds.extend(new google.maps.LatLng(boundsEndWalk.getNorthEast().lat() + latPad, boundsEndWalk.getNorthEast().lng()));
		maxBounds.extend(new google.maps.LatLng(boundsEndWalk.getSouthWest().lat(), boundsEndWalk.getSouthWest().lng()));
		return(maxBounds);
	}

	//==================================================//
	//   ROUTING THE TRIP                               //
	//==================================================//
	AutocompleteDirectionsHandler.prototype.route = function(data, map) {
		var me = this;

		//==================================================//
		//   OVERALL TRIP SUMMARY                           //
		//==================================================//
		var trip_details = document.getElementById('trip-details');
		trip_details.innerHTML = '';
		trip_details.innerHTML += 'Total Travel Time: ' + data.time_total + ' (' + data.time_walk + ' Walking, ' + data.time_bike + ' Biking)' + '<br>';
		trip_details.innerHTML += 'Total Travel Distance: ' + data.dist_total + ' (' + data.dist_walk + ' Walking, ' + data.dist_bike + ' Biking)';

		//==================================================//
		//   CUSTOM MAP ICONS                               //
		//==================================================//
		var sourceURL = 'https://maps.google.com/mapfiles/kml/shapes/';
		var yellowHome = {url: sourceURL + 'homegardenbusiness.png', scaledSize: new google.maps.Size(20, 20)};
	    var greenBike = {url: sourceURL + 'cycling.png', scaledSize: new google.maps.Size(15, 15)};
	    var greenBikeBig = {url: sourceURL + 'cycling.png', scaledSize: new google.maps.Size(20, 20)};
	    var blueFlag = {url: sourceURL + 'flag.png', scaledSize: new google.maps.Size(20, 20)};

	    for (var i = 0; i < markers.length; i++) {markers[i].setMap(null);}
	    markers = [];

		markers.push(setMarker(map, data.startlat, data.startlng, yellowHome, pointA, ''));

		markers.push(setMarker(map, data.stat1lat, data.stat1lng, greenBikeBig, data.stat1name, data.t1 + ': ' + data.b1));
		markers.push(setMarker(map, data.stat1alat, data.stat1alng, greenBike, data.stat1aname, data.t1 + ': ' + data.b1a));
		markers.push(setMarker(map, data.stat1blat, data.stat1blng, greenBike, data.stat1bname, data.t1 + ': ' + data.b1b));

		markers.push(setMarker(map, data.stat2lat, data.stat2lng, greenBikeBig, data.stat2name, data.t2 + ': ' + data.b2));
		markers.push(setMarker(map, data.stat2alat, data.stat2alng, greenBike, data.stat2aname, data.t2 + ': ' + data.b2a));
		markers.push(setMarker(map, data.stat2blat, data.stat2blng, greenBike, data.stat2bname, data.t2 + ': ' + data.b2b));

		markers.push(setMarker(map, data.endlat, data.endlng, blueFlag, pointB, ''));

	    //==================================================//
	    //   STARTING WALKING DIRECTIONS                    //
	    //==================================================//
	    var requestStartWalk = {
	        origin: new google.maps.LatLng(data.startlat,data.startlng),
	        destination: new google.maps.LatLng(data.stat1lat,data.stat1lng),
	        travelMode: 'WALKING'
	    };

	    this.directionsService.route(requestStartWalk, function(response, status) {
	        if (status === 'OK') {
				//==================================================//
				//   POPULATING LEFT PANEL                          //
				//==================================================//
	            var left_panel_start = document.getElementById('left-panel-start');
				var left_panel_directions = document.getElementById('left-panel-directions');
				var left_panel_end = document.getElementById('left-panel-end');

				//==================================================//
				//   STYLING THE INSTRUCTIONS                       //
				//==================================================//
				var styledHTML = styleDirections('https://maps.google.com/mapfiles/kml/shapes/homegardenbusiness.png', 'https://maps.google.com/mapfiles/kml/shapes/cycling.png', response.routes[0].legs[0].start_address, data.stat1name, response.routes[0].legs[0], 'Walking');

				left_panel_start.innerHTML = styledHTML.startHTML;
				left_panel_directions.innerHTML = styledHTML.directionsHTML;
				left_panel_end.innerHTML = styledHTML.endHTML;

				//==================================================//
				//   RESETTING THE BOUNDS                           //
				//==================================================//
				boundsStartWalk = response.routes[0].bounds;
				if (boundsStartWalk && boundsBike && boundsEndWalk) {
					me.map.fitBounds(getMaxBounds(boundsStartWalk, boundsBike, boundsEndWalk));
				}

	            me.directionsDisplayStartWalk.setDirections(response);
	        } else {
	            window.alert('Directions request failed due to ' + status);
	        }
	    });

	    //==================================================//
	    //   BIKING DIRECTIONS                              //
	    //==================================================//
	    var requestBike = {
	        origin: new google.maps.LatLng(data.stat1lat,data.stat1lng),
	        destination: new google.maps.LatLng(data.stat2lat,data.stat2lng),
	        travelMode: 'BICYCLING'
	    };

	    this.directionsService.route(requestBike, function(response, status) {
	        if (status === 'OK') {
				//==================================================//
				//   POPULATING MIDDLE PANEL                        //
				//==================================================//
				var mid_panel_start = document.getElementById('mid-panel-start');
				var mid_panel_directions = document.getElementById('mid-panel-directions');
				var mid_panel_end = document.getElementById('mid-panel-end');

				//==================================================//
				//   STYLING THE INSTRUCTIONS                       //
				//==================================================//
				var styledHTML = styleDirections('https://maps.google.com/mapfiles/kml/shapes/cycling.png', 'https://maps.google.com/mapfiles/kml/shapes/cycling.png', data.stat1name, data.stat2name, response.routes[0].legs[0], 'Biking');

				mid_panel_start.innerHTML = styledHTML.startHTML;
				mid_panel_directions.innerHTML = styledHTML.directionsHTML;
				mid_panel_end.innerHTML = styledHTML.endHTML;

				//==================================================//
				//   RESETTING THE BOUNDS                           //
				//==================================================//
				boundsBike = response.routes[0].bounds;
				if (boundsStartWalk && boundsBike && boundsEndWalk) {
					me.map.fitBounds(getMaxBounds(boundsStartWalk, boundsBike, boundsEndWalk));
				}

				me.directionsDisplayBike.setDirections(response);
	        } else {
	            window.alert('Directions request failed due to ' + status);
	        }
	    });

	    //==================================================//
	    //   ENDING WALKING DIRECTIONS                      //
	    //==================================================//
		var requestEndWalk = {
			origin: new google.maps.LatLng(data.stat2lat,data.stat2lng),
	        destination: new google.maps.LatLng(data.endlat,data.endlng),
	        travelMode: 'WALKING'
		};

		this.directionsService.route(requestEndWalk, function(response, status) {
	        if (status === 'OK') {
				//==================================================//
				//   POPULATING RIGHT PANEL                         //
				//==================================================//
	            var right_panel_start = document.getElementById('right-panel-start');
				var right_panel_directions = document.getElementById('right-panel-directions');
				var right_panel_end = document.getElementById('right-panel-end');

				//==================================================//
				//   STYLING THE INSTRUCTIONS                       //
				//==================================================//
				var styledHTML = styleDirections('https://maps.google.com/mapfiles/kml/shapes/cycling.png', 'https://maps.google.com/mapfiles/kml/shapes/flag.png', data.stat2name, response.routes[0].legs[0].end_address, response.routes[0].legs[0], 'Walking');

				right_panel_start.innerHTML = styledHTML.startHTML;
				right_panel_directions.innerHTML = styledHTML.directionsHTML;
				right_panel_end.innerHTML = styledHTML.endHTML;

				//==================================================//
				//   RESETTING THE BOUNDS                           //
				//==================================================//
				boundsEndWalk = response.routes[0].bounds;
				if (boundsStartWalk && boundsBike && boundsEndWalk) {
					me.map.fitBounds(getMaxBounds(boundsStartWalk, boundsBike, boundsEndWalk));
				}

				me.directionsDisplayEndWalk.setDirections(response);
	        } else {
	            window.alert('Directions request failed due to ' + status);
	        }
	    });
	};
</script>

<script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDI1tQyI4NkA-8AD9idSOGjIokrU2bbtxc&libraries=geometry,places&callback=initMap'
async defer></script>
{% endblock %}
